PORT=3000
DBNAME = AmiChatMobileApp

CORS_ORIGIN = http://localhost:5173

MONGODB_URI = mongodb://localhost:27017

JWT_SECRET="ksdakfjaklsjdflajs3412424kjklxjlajfa"

# Cloudinary
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 
